<div class="About screen">
    <div class="left"></div>
    
    <div class="right">
        <h2>Photoautomat Circus</h2>
        <p>A webdoc designed and implemented in three days, during the first DockHackathon Berlin, from the 2nd to the 5th of October 2014.</p>
    
    
        <h2>Team Members</h2>
            <ul>
                <li>Adrien Tasic <span class="">Illustrator, Animator</span></li>
                <li>Edouard Richard - <span class="">Developer</span></li> 
                <li>Olivier Guillard - <span class="">Webdesigner</span></li>
                <li>Elizabeth Grenier <span class="">Film maker</span></li>
                <li>Rick Minnich - <span class="">Film maker</span></li>
            </ul>
            
            
       <!-- <h2>Impressum</h2>
        <p>Squid flexitarian blog, Marfa leggings American Apparel keytar. Direct trade occupy letterpress Brooklyn quinoa. Street art cliche YOLO, sartorial semiotics art party roof party Godard Blue Bottle deep v shabby chic kitsch Brooklyn iPhone retro. Fanny pack normcore gluten-free salvia. Ethical sartorial selvage, PBR skateboard roof party street art. Four loko retro flexitarian Blue Bottle chillwave kitsch meggings High Life, heirloom Wes Anderson. Readymade fingerstache asymmetrical gluten-free cray, normcore narwhal wayfarers semiotics.</p>
        <p>Cred actually heirloom gastropub sriracha PBR. Carles cred semiotics quinoa sartorial 3 wolf moon. Hashtag whatever kale chips pork belly vinyl, messenger bag Neutra Cosby sweater fashion axe banjo brunch iPhone direct trade Carles actually. Four loko semiotics Vice viral mumblecore, biodiesel wolf seitan asymmetrical. Kickstarter twee beard, actually skateboard Helvetica American Apparel polaroid pug PBR gentrify. Kitsch vinyl synth plaid, YOLO organic ennui retro put a bird on it iPhone. Gentrify meggings Marfa, food truck bicycle rights typewriter freegan pug ethical McSweeney's.</p>-->
    </div>

</div>