<div class="About screen">
    <div class="left"></div>
    
    <div class="right">
        <h2>About</h2>
        <p>Photoautomat Circus is a collaborative project made over three days as part of the <a href="http://www.netzdoku.org/2014/09/21/dok-hackathon-berlin/" target="_blank">Dok Hackathon Berlin</a>, Oct. 3-5, 2014.</p>
    
    
        <h2>Team Members</h2>
            <ul>
                <li>Adrien Tasic - <span class="">Illustrator, Animator</span></li>
                <li>Edouard Richard - <span class="">Developer</span></li> 
                <li>Olivier Guillard - <span class="">Webdesigner</span></li>
                <li>Elizabeth Grenier <span class="">Filmmaker</span></li>
                <li>Rick Minnich - <span class="">Filmmaker</span></li>
                <li>Olivier Chardin - <span class="">Musik</span></li>
            </ul>


        <div class="contact">
            <a href="https://github.com/vied12/photoautomat-circus"><img src="{{ url_for("static", filename="images/github.png") | relative_url }}">Give us feedback and grab the code</a>
        </div>

    </div>

</div>