<div class="Final screen widget" data-widget="Final" >

<div class="left">
    <div class="receptacle">
        <img src="{{ url_for("static", filename="images/receptacle.png") }}" alt="" />
    </div>


</div>

<div class="right">
    <h2>Lorem Ipsum/h2>
    <p>Squid flexitarian blog, Marfa leggings American Apparel keytar. Direct trade occupy letterpress Brooklyn quinoa. Street art cliche YOLO, sartorial semiotics art party roof party Godard Blue Bottle deep v shabby chic kitsch Brooklyn iPhone retro. Fanny pack normcore gluten-free salvia. Ethical sartorial selvage, PBR skateboard roof party street art. Four loko retro flexitarian Blue Bottle chillwave kitsch meggings High Life, heirloom Wes Anderson. Readymade fingerstache asymmetrical gluten-free cray, normcore narwhal wayfarers semiotics.</p>
</div>

</div>