<div class="Final screen widget" data-widget="Final" >

<div class="left">
    <div class="Final__receptacle">
		<div class="Final__receptacle__photo"></div>
        <img src="{{ url_for("static", filename="images/receptacle.png") }}" alt="" />
    </div>


</div>

<div class="right">
    <h2>Congratulations!</h2>
    <p>You have made it to the end of Photoautomat Circus. Now you may collect and share your photos. Thanks for visiting our site. Please tell your friends to drop by!</p>
    
    <div class="">
        <a class="btn email" href="#">Email +
       <!-- <span class=""><img src="{{ url_for("static", filename="images/paperplane.svg") }}" /></span>-->
        </a>
        <a class="btn twitter" href="#">Twitter +
        <!-- <span class=""><img src="{{ url_for("static", filename="images/twitter.svg") }}" /></span> -->
        </a>
        <a class="btn facebook" href="#">Facebook +
        <!-- <span class=""><img src="{{ url_for("static", filename="images/facebook.svg") }}" /></span> -->
        </a>
    </div>
    
    
</div>

</div>