<div class="Final screen widget" data-widget="Final" >

<div class="left">
    <div class="Final__receptacle">
		<div class="Final__receptacle__photo"></div>
        <img src="{{ url_for("static", filename="images/receptacle.png") }}" alt="" />
    </div>


</div>

<div class="right">
    <h2>Lorem Ipsum</h2>
    <p>Squid flexitarian blog, Marfa leggings American Apparel keytar. Direct trade occupy letterpress Brooklyn quinoa.
    
    <div class="">
        <a class="btn email" href="#">Email +
       <!-- <span class=""><img src="{{ url_for("static", filename="images/paperplane.svg") }}" /></span>-->
        </a>
        <a class="btn twitter" href="#">Twitter +
        <!-- <span class=""><img src="{{ url_for("static", filename="images/twitter.svg") }}" /></span> -->
        </a>
        <a class="btn facebook" href="#">Facebook +
        <!-- <span class=""><img src="{{ url_for("static", filename="images/facebook.svg") }}" /></span> -->
        </a>
    </div>
    
    </p>
</div>

</div>