
<div class="Menu widget" data-widget="Menu">
	<a class="Menu__toggle" href="#" data-bind="click: toggle">
		<div class="patty"></div>
	</a>
	<div class="Menu__panel">
		<ul>
			<li><a data-bind="click: see_movie.bind($data, 0)" href="#">
        			<img src="{{ url_for("static", filename="images/portrait1.jpg") }}" alt="" />
        	<div class="overlay">
        			<span class="video-ico"></span>
    			</div>
			</a></li> 
			
			<li><a data-bind="click: see_movie.bind($data, 1)" href="#">
			        <img src="{{ url_for("static", filename="images/portrait1.jpg") }}" alt="" />
			    <div class="overlay">
			        <span class="video-ico"></span>
			    </div>
			</a></li>
			
			<li><a data-bind="click: see_movie.bind($data, 2)" href="#">
			        <img src="{{ url_for("static", filename="images/portrait1.jpg") }}" alt="" />
			    <div class="overlay">
			        <span class="video-ico"></span>
			    </div>
			</a></li>
			
			<li><a data-bind="click: see_movie.bind($data, 3)" href="#">
			        <img src="{{ url_for("static", filename="images/portrait1.jpg") }}" alt="" />
			    <div class="overlay">
			        <span class="video-ico"></span>
			    </div>
			</a></li>
		</ul>
		<div class="small">
		    <a class="icon"  href="#"><img width="16px" height="16px" src="{{ url_for("static", filename="images/expand.svg") }}" alt="full screen" /></a>
		    <a class="icon" data-bind="click: mute" href="#"><img width="16px" height="16px" src="{{ url_for("static", filename="images/volume-mute.svg") }}" alt="mute" /></a>
		    <a class="icon" data-bind="click: about" href="#"><img width="16px" height="16px" src="{{ url_for("static", filename="images/about.svg") }}" alt="about" /></a>
		</div>
	</div>
</div>
