<div class="Modal widget hidden" id="Modal" data-widget="Modal">
	<div class="Modal__overlay" data-bind="{click: close}"></div>
	<div class="Modal__body">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch. It is mine.</p>
		<p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
		<a class="button" data-bind="{click: close}">CONTINUE</a>
		<a class="close-reveal-modal" data-bind="{click: close}">&#215;</a>
	</div>
</div>


<div class="Side-modal widget hidden" id="Story1" data-widget="Modal">
	<div class="Side-modal__overlay" data-bind="{click: close}"></div>
	<div class="Side-modal__body">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<a class="close-reveal-modal" data-bind="{click: close}">&#215;</a>
	</div>
</div>

<div class="Side-modal widget hidden" id="Story1" data-widget="Modal">
	<div class="Side-modal__overlay" data-bind="{click: close}"></div>
	<div class="Side-modal__body">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<a class="close-reveal-modal" data-bind="{click: close}">&#215;</a>
	</div>
</div>

<div class="Side-modal widget hidden" id="Story1" data-widget="Modal">
	<div class="Side-modal__overlay" data-bind="{click: close}"></div>
	<div class="Side-modal__body">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<a class="close-reveal-modal" data-bind="{click: close}">&#215;</a>
	</div>
</div>

<div class="Side-modal widget hidden" id="Story1" data-widget="Modal">
	<div class="Side-modal__overlay" data-bind="{click: close}"></div>
	<div class="Side-modal__body">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<a class="close-reveal-modal" data-bind="{click: close}">&#215;</a>
	</div>
</div>

