<div class="Modal widget hidden" id="Modal" data-widget="Modal">
	<div class="Modal__overlay" data-bind="{click: close}"></div>
	<div class="Modal__body">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch. It is mine.</p>
		<p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
		<a class="button" data-bind="{click: close}">CONTINUE</a>
		<a class="close-reveal-modal" data-bind="{click: close}">&#215;</a>
	</div>
</div>


<div class="Slide-modal widget hidden" id="Video1" data-widget="Modal">
	<div class="Slide-modal__overlay" data-bind="{click: close}"></div>
	<div class="Slide-modal__body">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch. It is mine.</p>
		<p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
		<a class="close-reveal-modal" data-bind="{click: close}">&#215;</a>
	</div>
</div>



