<div class="Modal widget hidden" id="Modal__intro-kino" data-widget="Modal">
	<div class="Modal__body">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Cult Status</p>
		<p>Warning</p>
		<a class="btn" data-bind="{click: close}">CONTINUE</a>
		<a class="close-reveal-modal" data-bind="{click: close}">&#215;</a>
	</div>
</div>

<div class="Side-modal widget hidden" id="Modal__Video1" data-widget="Modal">
	<div class="Side-modal__body">
		<h2>Origins</h2>
		<p>Andy Warhol’s first self-portrait, from 1963, reproduces 4 pictures of him taken in a photo booth. It was sold for over 38 million dollars in 2011.</p>
		<a class="close-reveal-modal" data-bind="{click: close}">&#215;</a>
	</div>
</div>

<div class="Side-modal widget hidden" id="Modal__Video2" data-widget="Modal">
	<div class="Side-modal__body">
		<h2>Cult Status</h2>
		<p>The first photographic machine was shown at the World Fair in Paris in 1889. A modern version of the photo booth appeared in New York City in 1925. It cost 25 cents and took 10 minutes to get 8 photos. Within a half a year, 280,000 people got their picture taken.</p>
		<a class="close-reveal-modal" data-bind="{click: close}">&#215;</a>
	</div>
</div>

<div class="Side-modal widget hidden" id="Modal__Video3" data-widget="Modal">
	<div class="Side-modal__body">
		<h2>Photoautomat</h2>
		<p>There are 25 vintage photo booths in Berlin. Five of them are on the Warschauer Strasse in Friedrichshain. They can also be found in Hamburg, Köln, Leipzig, London, Florence and Vienna.</p>
		<a class="close-reveal-modal" data-bind="{click: close}">&#215;</a>
	</div>
</div>
