<div class="widget Photoautomat hidden" data-widget="Photoautomat">
	<div class="Photoautomat__mirror">
		<img class="off" src="{{ url_for("static", filename="images/Vitre_Cabine_off.png") }}" alt="" />
		<img class="hidden on" src="{{ url_for("static", filename="images/Vitre_Cabine_on.png") }}" alt="" />
	</div>
	<div class="Photoautomat__kino-button">
		<img src="{{ url_for("static", filename="images/button.png") }}" alt="" />
	</div>
	<div class="Photoautomat__flash hidden"></div>
	<!-- <div class="Photoautomat__red-button hidden">
		<img src="{{ url_for("static", filename="images/red-light.jpg") }}" />
	</div> -->
</div>