{% extends 'base.html' %}
{% block content %}

<style type="text/css">
body {
	background-image: url(static/images/metal.jpg);
	background-size : cover
}


</style>
<h1>Photoautomat POC</h1>

<div class="widget Photoautomat" data-widget="Photoautomat">
	<div class="positif"></div>
	<div class="Photoautomat__flash hidden"></div>
	<div class="Photoautomat__red-button hidden">
		<img src="{{ url_for("static", filename="images/red-light.jpg") }}" />
	</div>
	<a class="button" data-bind="click: takeSnapshot">photo</a>
</div>
{% endblock %}
