@import "settings.scss";
@import "../vendors/foundation/scss/foundation.scss";

/* MIXINS */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition{
	-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
			-ms-transition: all 200ms ease-in-out;
			-o-transition: all 200ms ease-in-out;
			transition: all 200ms ease-in-out;
}


.box { @include border-radius(10px); }

/* COLOURS */

$font-stack: 'PT Mono', helvetica, arial, sans-serif;;
$primary-color: #232327;
$dark-red: #a42238;
$red: #c32f31;
$yellow: #ffe000;
$blue: #4066b6;
$grey: #d8dee5;
$beige: #ad9999;
$dark: #232327;

$transparent: rgba(255,255,255,9);


.hidden {display: none; visibility: hidden;}

body, html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
 // border-top: 7px solid gold;
}


/* TYPOGRAPHY */

a {
	color: $primary-color;
	text-decoration: none;
}




/* ELEMENTS */

.screen {
	background-color : $primary-color;
	position: absolute;
	top    : 0;
	left   : 0;
	right  : 0;
	bottom : 0;
	padding: 20px;
}

.Header {
	width: 100%;
	height: 90px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 0 20px;
}

#logo {
	position: relative;
	top: 20px;
}

#toggle {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 30px;
    height: 10px;
    padding: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 1000;
    -webkit-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1) 0s;
        -moz-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1) 0s;
          -ms-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1) 0s;
            -o-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1) 0s;
              transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1) 0s;
    
    .patty {
        background: white;
        width: 27px;
        height: 3px;
        margin: 10px 0;
        @include transition();
        @include border-radius(2px);
        
        
    }
    
    .patty:after, .patty:before {
    		width: 27px;
    		height: 3px;
        background: white;
        content: "";
        display: block;
        position: absolute;
        @include transition();
        @include border-radius(2px);
        
        z-index: -1;
    }
    
    .patty:before {
        top: 21px;
    }
    
    .patty:after {
        top: 12px;
    } 
}


#toggle.active {
	.patty {
	    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	}
	
	.patty:after {
	    top: 21px !important;
	    transform: rotate(45deg);
	}
	
	.patty:before {
	    top: 21px !important;
	    transform: rotate(-45deg);
	}
	
	
}



.Menu {
	position: fixed;
	z-index: 10;
	right:0px;
	width: 250px;
	height: 100%;
	background: $transparent;
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
	box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
	@include transition();
	
	display: none;
}

.Menu {
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
		border-bottom: 1px solid $grey;
		padding: 20px 10px;
	}
	
	a {
		//line-height: 40px;
	}
}

.icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: $dark;
	margin-right: 20px;
}


/* PHOTOAUTOMAT */

.Photoautomat {
	video {
		display: none;
	}
	.Photoautomat__red-button {
		position         : fixed;
		top              : 50%;
		left             : 50%;
		transform: translate(-50%, -50%);
	}
	.Photoautomat__flash {
		background-color : white;
		position         : fixed;
		top              : 0;
		left             : 0;
		right            : 0;
		bottom           : 0;
	}
}

.positif {
	background-color : white;
	padding          : 20px;
	img {
		margin: 10px;
	}
}


