@import "settings.scss";
@import "../vendors/foundation/scss/foundation.scss";


$font-stack:    Helvetica, sans-serif;
$primary-color: gold;

.hidden {display: none; visibility: hidden;}


body {
  font: 100% $font-stack;
  color: $primary-color;
}
.screen {
	background-color : black;
	position: absolute;
	top    : 0;
	left   : 0;
	right  : 0;
	bottom : 0;
}

 

.Photoautomat {
	video {
		display: none;
	}
	.Photoautomat__red-button {
		position         : fixed;
		top              : 50%;
		left             : 50%;
		transform: translate(-50%, -50%);
	}
	.Photoautomat__flash {
		background-color : white;
		position         : fixed;
		top              : 0;
		left             : 0;
		right            : 0;
		bottom           : 0;
	}
}

.positif {
	background-color : white;
	padding          : 20px;
	img {
		margin: 10px;
	}
}