.Final{

    background: rgb(198,43,39); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(198,43,39,1) 0%, rgba(173,36,34,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(198,43,39,1)), color-stop(100%,rgba(173,36,34,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(198,43,39,1) 0%,rgba(173,36,34,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(198,43,39,1) 0%,rgba(173,36,34,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(198,43,39,1) 0%,rgba(173,36,34,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(198,43,39,1) 0%,rgba(173,36,34,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c62b27', endColorstr='#ad2422',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    .Final__receptacle {
        position           : absolute;
        top                : 130px;
        left               : 200px;
        background         : #111 url('../images/receptacle-bg.png') no-repeat left top;
        width              : 226px;
        height             : 450px;
        overflow           : hidden;
        -webkit-box-shadow : 0 0 10px 3px rgba(0,0,0,.5);
        box-shadow         : 0 0 10px 3px rgba(0,0,0,.5);
        background-size    : 100%;
        > img {
            position : relative;
            z-index  : 4;
            width    : 226px;
            height   : 450px;
        }
        .Final__receptacle__photo {
            top                 : 300;
            transition-duration : .25s;
            transition-property : top;
            position            : absolute;
            z-index             : 3;
            left                : 47px;
            transform           : rotate(-2deg);
            -moz-transform      : rotate(-2deg);
            -webkit-transform   : rotate(-2deg);
        }
    }
    

    
    .right {
        width: auto;
        max-width: 400px;
        height: 300px;
        position: absolute;
        top: 50%;
        margin-top: -150px;
        left: 580px;
        padding: 20px;
        color: white;
    }
    
    .btn {
        @include btn();
        @include transition();
        font-size: .75em;
        background: white;
        color: $dark;
        margin-right: 10px;
    }
    
    .btn:hover {
        color: #fff;
        background: $dark;
    }
    
    .btn span img {
        width: 12px;
        height: 12px;
    }
  
}