.Final{

    background: rgb(198,43,39); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(198,43,39,1) 0%, rgba(173,36,34,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(198,43,39,1)), color-stop(100%,rgba(173,36,34,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(198,43,39,1) 0%,rgba(173,36,34,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(198,43,39,1) 0%,rgba(173,36,34,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(198,43,39,1) 0%,rgba(173,36,34,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(198,43,39,1) 0%,rgba(173,36,34,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c62b27', endColorstr='#ad2422',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
  
}