.Home {
        background: url(../images/home.jpg) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  .drapes {
        position: relative;
        background: url(../images/drapes.gif) no-repeat;
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        top: -9px;
        left: 4px;
    }
}