.Photoautomat__mirror {
    position        : absolute;
    top             : 15%;
    width           : 37%;
    height          : 70%;
    left            : 25%;
    background-size : 100% 100%;
    background-image: url(../images/mirror.png);
}
.Photoautomat__kino-button {
    top               : 20%;
    width             : 54%;
    right             : 16%;
    height            : 64%;
    position          : absolute;
    background-repeat : no-repeat;
    background-size   : contain;
    background-image  : url(../images/button.png);
    max-height        : 377px;
    max-width         : 197px;
}
.Intro-kino {

background: rgb(51,51,51); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(51,51,51,1) 0%, rgba(17,17,17,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(17,17,17,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(51,51,51,1) 0%,rgba(17,17,17,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(51,51,51,1) 0%,rgba(17,17,17,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(51,51,51,1) 0%,rgba(17,17,17,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(51,51,51,1) 0%,rgba(17,17,17,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#111111',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */




    
    img {
        width: 100%;
        height: auto;
    }
}