.Kino {
    .Kino__screener {
        position: absolute;
        top    : 0;
        left   : 0;
        right  : 0;
        bottom : 0;
        z-index: 9;
    }
    
    .Kino__more {
        display: block;
        width: 30px;
        height: 30px;
        background: rgba(0,0,0,.2);
        cursor: pointer;
        color: #fff;
        position: absolute;
        bottom: 20px;
        right: 30px;
        font-size: 2em;
        line-height: 30px;
        border-radius: 100%;
        padding: 10px;
        border: 1px solid #fff;
        text-align: center;
        @include transition();
    }
    
    .Kino__more:hover {
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}