.Menu {
    position: fixed;
    z-index: 10;
    right:0px;
    width: 200px;
    height: 100%;
    @include transition();
    -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 10px 3px rgba(0,0,0,.5);
    background: #111;
 
     ul {
     border-bottom: 10px solid $dark;
     }
 
    li {
        border: 10px solid $dark;
        border-bottom: none;
    }
    
    a {
        font-size: .85em;
        line-height: 0;
    }
    
    img {
        position: relative;
        top: 0;
        left: 0;
        @include grayscale();
    }
    
    a:hover img {
       -webkit-filter: none;
         -moz-filter: none;
         -ms-filter: none;
         -o-filter: none;
         filter: none;
    }
    
    .small {
        height: 40px;
        padding: 10px;
        text-align: center;
    }
}


.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 10px;
    margin: 5px;
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 100%;
    
    @include transition();
}

.icon:hover {
    opacity: .4;
}


.video-ico {
    background: url(../images/play.svg) no-repeat center;
}

.mute-ico {
    background: url(../images/volume-mute.svg) no-repeat center;
}

.share-ico {
    background: url(../images/share.svg) no-repeat center;
}

.without-navigation {
    .Menu__toggle {
        opacity: 0;
    }
}
.Menu__toggle {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 30px;
    opacity: 1;
    height: 10px;
    padding: 20px;
    position: fixed;
    right: 10px;
    top: 15px;
    -webkit-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1) 1.5s;
    -moz-transition:    all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1) 1.5s;
    -ms-transition:     all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1) 1.5s;
    -o-transition:      all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1) 1.5s;
    transition:         all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1) 1.5s;

    .patty {
        background: white;
        width: 27px;
        height: 3px;
        margin: 10px 0;
        @include transition();
        @include border-radius(2px);
        
        
    }
    
    .patty:after, .patty:before {
            width: 27px;
            height: 3px;
        background: white;
        content: "";
        display: block;
        position: absolute;
        @include transition();
        @include border-radius(2px);
        
        z-index: -1;
    }
    
    .patty:before {
        top: 21px;
    }
    
    .patty:after {
        top: 12px;
    }

    &.active {
        right: 200px;

        .patty {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
        }
        
        .patty:after {
            top: 21px !important;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        
        .patty:before {
            top: 21px !important;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        } 
    }
}






