.Menu {
    position: fixed;
    z-index: 10;
    right:0px;
    width: 200px;
    height: 100%;
    background: $transparent;
    -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
    box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
    @include transition();
 
     ul {
     border: 10px solid $dark;
     }
 
    li {
        border-bottom: 10px solid $dark;
    }
    
    a {
        display: block;
        font-size: .85em;
        line-height: 0;
    }
    
    img {
        position: relative;
        top: 0;
        left: 0;
        @include grayscale();
    }
    
    a:hover img {
       -webkit-filter: none;
         -moz-filter: none;
         -ms-filter: none;
         -o-filter: none;
         filter: none;
    }
    
    .small {
        height: 40px;
    }
    
    .small a {
        float: left;
        width: 80px;
        height: 40px;
        line-height: 40px;
    }
}


.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: $grey;
    margin-right: 15px;
    vertical-align: middle;
}

.video-ico {
    background: url(../images/play.svg) no-repeat center;
}

.mute-ico {
    background: url(../images/volume-mute.svg) no-repeat center;
}

.share-ico {
    background: url(../images/share.svg) no-repeat center;
}



#toggle {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 30px;
    height: 10px;
    padding: 20px;
    position: fixed;
    right: 10px;
    top: 15px;
    z-index: 1000;
    -webkit-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1) 0s;
        -moz-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1) 0s;
          -ms-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1) 0s;
            -o-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1) 0s;
              transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1) 0s;
    
    .patty {
        background: white;
        width: 27px;
        height: 3px;
        margin: 10px 0;
        @include transition();
        @include border-radius(2px);
        
        
    }
    
    .patty:after, .patty:before {
            width: 27px;
            height: 3px;
        background: white;
        content: "";
        display: block;
        position: absolute;
        @include transition();
        @include border-radius(2px);
        
        z-index: -1;
    }
    
    .patty:before {
        top: 21px;
    }
    
    .patty:after {
        top: 12px;
    } 
}


#toggle.active {
    right: 200px;

    .patty {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    }
    
    .patty:after {
        top: 21px !important;
        transform: rotate(45deg);
    }
    
    .patty:before {
        top: 21px !important;
        transform: rotate(-45deg);
    } 
}



