.Menu {
    position: fixed;
    z-index: 10;
    right:0px;
    width: 250px;
    height: 100%;
    background: $transparent;
    -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
    box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
    @include transition();
    display: none;
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        border-bottom: 1px solid $grey;
        padding: 20px 10px;
    }
    
    a {
        //line-height: 40px;
    }
}