.Modal {
	.Modal__overlay {
		background-color : rgba(0,0,0,.5);
		
		position         : fixed;
		left             :0;
		right            : 0;
		top              :0;
		bottom           :0;
	}
	.Modal__body {
		position         : fixed;
		top              : 50%;
		left             : 50%;
		overflow: visible;
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		width            : 50%;
		min-width        : 300px;
		max-width        : 550px;
		color            : #fff;
		padding          : 0 20px 20px;
		background-color : $red;
		-webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,.5);
		box-shadow: 0 0 10px 3px rgba(0,0,0,.5);
		z-index: 1;
		@include border-radius(4px);

		.close-reveal-modal {
			position  : absolute;
			right     : 10px;
			top       : 7px;
			font-size : 3em;
			cursor: pointer;
			width: 30px;
			height: 30px;
			line-height: 30px;
			color: #fff;
			text-align: center;
		}
		
		.btn {
		    //background: #fff;
		    @include btn();
		}
	}
}

.Side-modal {
	.Side-modal__body {
		position         : fixed;
		top              : 0;
		right             : 0;
		overflow: visible;
		width            : 200px;
		height: 100%;
		color            : #fff;
		padding          : 60px 20px 20px;
		background-color : rgba(0,0,0,.9);
		-webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,.5);
		box-shadow: 0 0 10px 3px rgba(0,0,0,.5);
		z-index: 100;
	}
	
	.close-reveal-modal {
	  display: block;
	  color: #fff;
		position  : absolute;
		left     : 10px;
		top       : 20px;
		font-size : 4em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		cursor: pointer;
		z-index: 1;
	}
	
}

.close-reveal-modal {
    @include transition();
}

.close-reveal-modal:hover {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}