{% assets "js_all" %}
<script type='text/javascript' src='{{ ASSET_URL  | relative_url }}'></script>
{% endassets %}
<script>
	$(document).ready(function() {
		serious.Widget.bindAll();
		$(document).foundation();
		var files = [
			"static/images/button_on.png",
			"static/images/button.png",
			"static/images/mirror-on.png",
			"static/images/mirror.png",
			"static/images/about.jpg",
			"static/images/receptacle.png",
			"static/images/portrait1.jpg",
			"static/images/portrait2.jpg",
			"static/images/portrait3.jpg",
			"static/images/portrait4.jpg",
			"static/images/receptacle-bg.png",
			"static/images/logo.svg",
			"static/images/googleplus.svg",
			"static/images/twitter.svg",
			"static/images/volume-medium.svg",
			"static/images/paperplane.svg",
			"static/images/share.svg",
			"static/images/play.svg",
			"static/images/expand.svg",
			"static/images/volume-mute.svg",
			"static/images/facebook.svg",
			"static/images/about.svg",
			"static/sounds/argent.ogg",
			"static/sounds/atmo_cabine.ogg",
		]
		$.preload(files, function() {
			Navigation.Instance.itsReady();
		});
	});

	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-55465670-1', 'auto');
	ga('send', 'pageview');

</script>
