{% assets "js_all" %}
<script type='text/javascript' src='{{ ASSET_URL  | relative_url }}'></script>
{% endassets %}
<script>
	$(document).ready(function() {
		serious.Widget.bindAll();
		$(document).foundation();
		var files = [
			"static/images/about.jpg",
			"static/images/about.svg",
			"static/images/button.png",
			"static/images/button_on.png",
			"static/images/expand.svg",
			"static/images/facebook.svg",
			"static/images/googleplus.svg",
			"static/images/logo.svg",
			"static/images/mirror.png",
			"static/images/mirror-on.png",
			"static/images/paperplane.svg",
			"static/images/play.svg",
			"static/images/portrait1.jpg",
			"static/images/portrait2.jpg",
			"static/images/portrait3.jpg",
			"static/images/portrait4.jpg",
			"static/images/receptacle.png",
			"static/images/receptacle-bg.png",
			"static/images/share.svg",
			"static/images/twitter.svg",
			"static/images/volume-medium.svg",
			"static/images/volume-mute.svg",
			"static/sounds/argent.ogg",
			"static/sounds/atmo_cabine.ogg",
		]
		$.preload(files, function() {
			Navigation.Instance.itsReady();
		});
	});
</script>