{% extends 'base.html' %}
{% block content %}

<div class="Navigation widget" data-widget="Navigation">
	
	{% include "partials/header.html" %}
	{% include "partials/menu.html" %}

	<!-- screens -->
	{% include "partials/screens/loader.html" %}
	{% include "partials/screens/intro.html" %}
	{% include "partials/screens/home.html" %}
	{% include "partials/screens/intro-kino.html" %}
	
	{% include "partials/kino.html" %}

	{% include "partials/photoautomat.html" %}

	<a class="button next_screen_debugger" style="position:fixed; bottom:0; right: 0;">next screen</a>
	<a class="button previous_screen_debugger" style="position:fixed; bottom:0; ">previous screen</a>
</div>

{% endblock %}
